/* [NAVIGATION BAR V2] */
#page-nav {
  width: 100%;
  background-color: #383952CC;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

.pageTitle {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.bigTitleCity {
  padding: 0;
  margin: 0;
  font-family: pacifico, cursive;
  color: #fff;
}

#hamburger {
  display: none;
}

.hamburgerIcon {
  background-color: #383952CC;
  padding: 5px;
}

.listLink {
  list-style: none;
  margin: 0;
  padding: 0; 
  width: 100%;
}

.listLink .buttonLink {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
}

.homeLink:link {
  color: #fff;
  text-decoration: none;
}

.homeLink:visited {
  color: #fff;
  text-decoration: none;
}

.homeLink:active {
  color: #fff;
  text-decoration: none;
}

.navLink {
  width: 100%;
  display: block;
}

.listLink .buttonLink .navLink {
  color: #fff;
  text-decoration: none;
  width: 98%;
} 

.hamburgerIcon {
  display: inline-block;
  color: #fff;
  background-color: #323348;
  font-style: normal;
  font-size: 2.3em;
  padding: 10px;
  cursor: pointer;
}

.listLink .buttonLink {
  display: block;
}

.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listLink {
  display: none;
  z-index: 1;
}

input:checked ~ .listLink {
  display: block;
  position: absolute;
  top: 65px;
  background-color: #323348CC;
}

html, body {
  background-color: #faf8f0;
  padding: 0;
  margin: 0;
  font-family: roboto, sans-serif;
}

.buttonLink:hover {
  background-color: rgb(113, 222, 168, 0.6);
}

/* [MEDIA QUERIES NAVIGATION BAR V2] */

@media screen and (min-width: 750px) {
  
  #page-nav {
    width: 100%;
    background-color: #383952CC;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pageTitle {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 27%;
    padding-left: 30px;
  }
  
  .bigTitleCity {
    padding: 0;
    margin: 0;
    font-family: pacifico, cursive;
    color: #fff;
  }

  #hamburger {
    display: none;
  }
  
  .hamburgerIcon {
    display: none;
  }

  .navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .actionLink{
    width: 18%;
  }
  
  .assoLink{
    width: 28%;
  }
  
  .gestionLink{
    width: 36%;
  }
  
  .contactLink{
    width: 18%;
  }

  .listLink .buttonLink .navLink {
    color: #fff;
    text-decoration: none;
  } 

  .listLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
  }

  .buttonLink:hover {
    background-color:rgb(113, 222, 168, 0.6);
    height: 100%;
  }
}

/* [MEDIA QUERIES NAVIGATION BAR V2 END] */

/* [NAVIGATION BAR V2 END] */


/* Associations */

.imageAsso1{
    width:200px;
    height:200px;
}

.imageAsso2{
    width:230px;
    height:200px;
}

.imageAsso3{
    width:280px;
    height:200px;
}

.logo{
    margin-top:50px;
    margin-bottom:100px;
}

.nameAsso{
    color:rgb(113, 222, 168, 0.6);
    font-family: 'Pacifico', cursive;
    font-size:60px;
    text-align:center;
}

.logo{
    display:flex;
    justify-content: center;
}

.infoAsso{
    color:#323348;
    font-family: 'Pacifico', cursive;
    font-size:30px;
    text-align:center;

    
}

.infos{
    margin-bottom:100px;
    padding-left:20px;
    padding-right:20px;
}

.description{
    background-color:rgb(113, 222, 168, 0.6);
    padding-bottom:100px;
    padding-left:20px;
    padding-right:20px;
 

}

a{
    text-decoration:none;
    color:#71dea2;
    font-weight:bold;
    margin-left:10px;

}

a:hover{
    color:#323348;
}





/* End Associations */


/* Footer */

.container-foot{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer a, p{
	text-decoration: none;
	color: #000000;
}

footer li{
	list-style-type: none;
}

.foot-link{
	flex-direction: column;
	margin: 10px;
	text-align: center;
}

.social{
	margin: 10px;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.network img{
	width: 50px;
	height: 50px;
	flex-wrap: nowrap;
}

/* End Footer */



@media only screen and (min-width: 600px) {
	.container-foot{
		display: flex;
		flex-direction: row;	
		justify-content: space-between;
	}

	.foot-link{
		text-align: left;
    }
    
    #page-nav {
        width: 100%;
        background-color: #383952CC;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      .pageTitle {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
      }
      
      .bigTitleCity {
        padding: 0;
        margin: 0;
        margin-left: 10px;
        font-family: pacifico, cursive;
        color: #fff;
      }
    
      #hamburger {
        display: none;
      }
      
      .hamburgerIcon {
        display: none;
      }
    
      .listLink .buttonLink a {
        color: #fff;
        text-decoration: none;
      } 
    
      .listLink {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        width: 65%;
      }
    
      .buttonLink:hover {
        background-color: #333;
        height: 100%;
      }

      .nameAsso{
        font-size:80px;
      }
    
    .infoAsso{
        font-size:40px;
        text-align:left;
    }
}

