



.imageAsso1{
    width:200px;
    height:200px;
}

.imageAsso2{
    width:230px;
    height:200px;
}

.imageAsso3{
    width:280px;
    height:200px;
}

.logo{
    margin-top:50px;
    margin-bottom:100px;
}

.nameAsso{
    color:rgb(113, 222, 168, 0.6);
    font-family: 'Pacifico', cursive;
    font-size:60px;
    text-align:center;
}

.logo{
    display:flex;
    justify-content: center;
}

.infoAsso{
    color:#323348;
    font-family: 'Pacifico', cursive;
    font-size:30px;
    text-align:center;
}

.infos{
    margin-bottom:100px;
}

.description{
    background-color:rgb(113, 222, 168, 0.6);
    padding-bottom:100px;

}

a{
    text-decoration:none;
    color:#71dea2;
    font-weight:bold;
    margin-left:10px;

}

a:hover{
    color:#323348;
}

.text{
    margin-left:10px;
    margin-right:10px;
}


@media only screen and (min-width:600px){

.nameAsso{
    font-size:80px;
  
}

.infoAsso{
    font-size:40px;
    text-align:left;
}

}
