h2, h3
{
    font-family: Pacifico;
}

h2
{
    color: rgb(113, 222, 168, 0.6);
    text-align: center;
    font-size: 60px;
}

h3
{
    font-size: 30px;
    text-align: center;
}

p
{
    font-family: roboto;
    text-align: justify;
}

.description
{
    background-color: rgb(113, 222, 168, 0.6);
    border-radius: 20px;
    margin:20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    box-shadow: 6px 6px 3px gray
}

.informations
{
    margin:20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.image p
{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
}


/* [NAVIGATION BAR] */

#page-nav {
    width: 100%;
    background-color: #383952CC;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .pageTitle {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  
  .bigTitleCity {
    padding: 0;
    margin: 0;
    font-family: pacifico, cursive;
    color: #fff;
  }
  
  #hamburger {
    display: none;
  }
  
  .hamburgerIcon {
    background-color: #383952CC;
    padding: 5px;
  }
  
  .listLink {
    list-style: none;
    margin: 0;
    padding: 0; 
    width: 100%;
  }
  
  .listLink .buttonLink {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .listLink .buttonLink a {
    color: #fff;
    text-decoration: none;
    width: 98%;
  } 
  
  .hamburgerIcon {
    display: inline-block;
    color: #fff;
    background-color: #323348CC;
    font-style: normal;
    font-size: 2.3em;
    padding: 10px;
  }
  
  .listLink .buttonLink {
    display: block;
  }
  
  .listLink {
    display: none;
  }
  
  input:checked ~ ul {
    display: block;
    position: fixed;
    top: 53px;
    background-color: #323348CC;
  }
  
  html, body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
  }
  
  .buttonLink:hover {
    background-color: #333;
  }
  
  /*FOOTER*/

.container-foot{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer a, p{
	text-decoration: none;
	color: #000000;
}

footer li{
	list-style-type: none;
}

.foot-link{
	flex-direction: column;
	margin: 10px;
	text-align: center;
}

.social{
	margin: 10px;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.network img{
	width: 50px;
	height: 50px;
	flex-wrap: nowrap;
}

/*FIN FOOTER*/


  @media screen and (min-width: 600px) {
  
    #page-nav {
      width: 100%;
      background-color: #383952CC;
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .pageTitle {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 30%;
    }
    
    .bigTitleCity {
      padding: 0;
      margin: 0;
      margin-left: 10px;
      font-family: pacifico, cursive;
      color: #fff;
    }
  
    #hamburger {
      display: none;
    }
    
    .hamburgerIcon {
      display: none;
    }
  
    .listLink .buttonLink a {
      color: #fff;
      text-decoration: none;
    } 
  
    .listLink {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      justify-content: space-around;
      align-items: center;
      margin-right: 10px;
      width: 65%;
    }
  
    .buttonLink:hover {
      background-color: #333;
      height: 100%;
    }

h2
{
    font-size: 80px;
}

h3
{
    font-size: 40px;
    text-align: left;
}

.container-foot{
    display: flex;
    flex-direction: row;	
    justify-content: space-between;
}

.foot-link{
    text-align: left;
}

}