h1, h2
{
    font-family: Pacifico;
    font-size: 80px;

}

h1
{
    color: #71dea2;;
    text-align: center;
}

.h1, h2
{
    font-size: 40px;
}

p
{
    font-family: roboto;
    text-align: justify;
}

.description
{
    background-color: #71dea2;
    border-radius: 20px;
    margin:20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    box-shadow: 6px 6px 3px black
}

.informations
{
    margin:20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.image p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
